__pycache__/

*.egg-info/
*.egg

.*-version

.cache

.env*
!.env*.sample
package*.json

.coverage
*.yaml*

/bin/gitlab-ci-multi-runner

/venv*
/node_modules

/static/*
!/static/.gitignore
!/static/*.txt

/lib*
!/lib/.gitignore

/bin/*.sh

/tmp/logs/*.log
/tmp/_data
/tmp/_cache
!/tmp/logs/.gitignore
