__pycache__
*.egg-info
*.egg
*.pyc

.cache

.*-version

.env*
!.env*.sample
.coverage

/*.yaml*
/*_config.py
/wsgi.py

/bin/deliver-*
/bin/gitlab-ci-multi-runner

/static/*
!/static/.gitignore
!/static/*.txt

/lib/*.json
/lib/*local*
/lib/*sdk*
/lib/*proxy*
!/lib/.gitignore

/tmp/log
!/tmp/log/.gitignore
/tmp/coverage
!/tmp/logs/.gitignore
/tmp/_cache
/tmp/_data

/venv*
/node_modules
